* {
    -webkit-tap-highlight-color: transparent !important;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}